doctype html
html
  head
    meta(charset='utf-8')
    title ChromeDarts
    link(rel='stylesheet', href='./css/reset.css')
    script(src='./js/three.min.js')
    script(src='./js/darts-board.js')
  body
    #root
